@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-black: #000000;
    --brand-white: #DFEBEB;
    --brand-green: #253836;
  }

  body {
    @apply font-roboto text-brand-black bg-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-poppins;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
